.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}

.chat__input {
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    border-top: 1px solid gray;
    background-color: #474b53;
}

.chat__input > form > textarea {
    padding: 15px;
    background: transparent;
    border: none;
    width: 100%;
    outline-width: 0;
    color: white;
    font-size: large;
    box-sizing: border-box;
    resize: none;
    max-height: 200px;
    min-height: 50px;
    
}

.chat__input > form {
    flex: 1;
}

.chat__inputButton {
    background-color: transparent;
    border: none;
    color: gray;
}
 .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.MuiSvgIcon-root:hover {
  color: white;
}

.chat__inputIcons {
    align-items: center;
    display: flex;
}
.chat__inputIcons > .MuiSvgIcon-root {
    padding: 5px;
}

.chat__messages {
    overflow: scroll;
    overflow-x: hidden;
    flex: 1;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .chatHeader__usersModel {
    width: fit-content;
    position: absolute;
    right: 250px;
    top: 70px;
    max-height: 210px;
    overflow-y: scroll;
  }

  .Modal {
    background-color: #838689; 
    color: white;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 250px;
    padding: 50px;
    border-radius: 20px;
    overflow-y: scroll
  }
  .personalMsg {
    position: fixed;
    bottom: 100px;
    display: flex;
    justify-content: space-between;
    color:white
  }
  

  @media only screen and (max-width: 700px) {
    .chat {
      flex: auto;
      height: 90vh;
    }
    .Modal {
      color: white;
      width: 400px;
      height: 500px;
      margin-top: 50px;
      margin-left: 20px;
      padding: 20px;
      border-radius: 20px;
      overflow-y: scroll
    }
    .personalMsg {
      position: fixed;
      bottom: 150px;
      display: flex;
      justify-content: space-between;
      color:white
    }
  }
  

