.message {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    color: white;
    margin: 20px;
    background-color: #474b53;
    border-radius: 10px;
}

.message:hover {
    background-color: #454545;
}

.message__info {
    margin-left: 20px;
}

.message__timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}
.message__info img {
    width: 500px;
}
.delete__message {
    cursor: pointer;
    color: red;
}

@media only screen and (max-width: 700px) {
    .message__info img {
        width: 225px;
    }

    .chatHeader__usersModel {
        width: -moz-fit-content;
        width: fit-content;
        max-height: 210px;
        overflow-y: scroll;
        position: relative;
        right: -25px;
        top: 0px;
    }
  }